<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Editor</title>
</head>
<body>
<form method="POST" th:action="@{/user}" th:object="${user}">
    <input type="text" name="username" th:value="${user.username}">
    <input type="text" name="balance" th:value="${user.balance}">

<!--    <ul>-->
<!--        <li th:each="role : ${roles}">-->
<!--            <input type="checkbox" th:field="*{roles}" th:value="${role}"/>-->
<!--            <label th:for="${#ids.prev('roles')}" th:text="${role}">Roles</label>-->
<!--        </li>-->
<!--    </ul>-->


    <div th:each="role : ${roles}">
        <label th:for="${role}" th:text="${role}"></label>
        <input type="checkbox" th:checked="${#lists.contains(user.roles, role)}" th:name="${role}">
    </div>

    <input type="hidden" th:value="${user.id}" th:name="userId">
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf">
    <button type="submit">Save</button>
</form>

</body>
</html>